
h2{
   text-align: center;
   border-bottom: 2px solid black;
}
blockquote{
   font-style: italic;
   font-size: 11pt;
   text-align: right;
}

ul{
   list-style: none;
}

img{
   animation: fadeout 50s;   
}

@keyframes fadeout {
   from { opacity: 1; }
   to   { opacity: 0; }
}

.textbox{
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   border: 12px double black;
   padding: 50px;
   margin: 5%;
}

.aboutContainer{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.textbox2{
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   border: 12px double black;
   padding: 50px;
   margin: 3%;
   justify-content: center;
   width: 60%;
   margin-left: 17.5%;
   margin-top:-2%;
}