<h1>{{typewriter_display}}</h1>

<div class= "aboutContainer">
<div class = "textbox">
<h2>INTRODUCTION</h2>
<p>Hi there!<br><br>
My name is Natalie, I was born on January 1st, 1989 in Duffel.  During highschool I studied Human Sciences and naturally went to university to study Psychology in Leuven.  Unfortunately due to personal reasons I wasn't able to finish it.<br>
I started living on my own after terminating my studies in Leuven and began working in a local supermarket.  However my ambitious personality wasn't satisfied with the career path I had chosen and so I decided to try university again in Ghent.  I wanted to prove to myself I could do this. Plus having a Master's degree would greatly improve my chances to find a job I might love.<br> <br> 
I finished my degree with flying colors, all while working part-time.  This is an achievement I'm very proud of because it was challenging to work and study at the same time.  During my internship I noticed how I liked theoretical psychology, but I found it hard to actually be a psychologist.  A lot of the stories I heard during my internship, were heart-breaking and I noticed I was very sensitive to it.  I tried a couple of times to find a job as a psychologist, but didn't succeed.  Looking back, I'm glad I didn't, because it wasn't the direction I wanted my life to take.<br><br>
I was working as administrative assistant at a couple companies, trying to figure out what I wanted to do.  I was always attracted to IT jobs, because I played a lot of games in my free time and I knew more about computers than most people in my department.  IT was such a big field, which made it hard to pinpoint what I exactly wanted. <br> 
Fast forward to 2020 where I took a few career counseling classes to help me find my purpose.  This is where the idea of becoming a back-end developer began to take form.  I took online classes, noticing how much I liked to code, because it was like solving a puzzle. It was exciting, challenging and satisfying when I succeeded in exercises.  I began looking for entry level jobs, but I still lacked a lot of experience.<br>  <br>
I found the training program for JAVA developer via VDAB.  I applied and after a couple of interviews, I was allowed to partake in the program.  Right now I'm following this training program until May 2021. I am very grateful I took the chance to study JAVA and I'm loving every bit of it!</p>
<blockquote>"We do what we must, because we can" -GLaDOS (Still Alive)</blockquote>
</div>
<div class = textbox>
<h2>HOBBIES</h2>
<p>I have a big variety in hobbies, because I like a lot of different things.  My ability to learn fast, enables me to get to a certain level of expertise easily.  Whenever something triggers my interest I'm able to do it.  A little glimpse of my hobbies consists of:<br> <br>
   - Gaming (MMORPGS and single players): some of my favourites are Portal (1 and 2), Stardew Valley, Bioshock, Cyberpunk 2077, Aion, Beatsaber and Skyrim<br>
   - Playing ukulele and singing awfully with it<br>
   - Reading (mostly manga and fiction)<br>
   - Watching series (a lot of fantasy, anime, psychological thrillers)<br>
   - Bulletjournaling (I'm still someone who loves being organised and a bujo helps me to combine my creativity together with my systematic personality)<br>
   - Dancing<br>
   - Crocheting <br>
   - Video-editing (although this is a bit on hold now, I like to refer to my portfolio for more information)<br>
   - Currently working on my own game in JAVA (because it's a WIP, it's not yet in my own portfolio)<br>

</p>
<blockquote>"Burning people! He said what we were all thinking!" -potatoGLaDOS</blockquote>
</div>
</div>
<div class="image"><img id="wheatley" src="/assets/Wheatley.png"></div>
<div class = textbox2>
   <h2>WHY I LOVE TO CODE</h2>
   <ul>
      <li><h4>1. I'm always challenging myself</h4>
         <p>If you read my little intro, you probably noticed I like a good challenge.  Learning new things, figuring out new ways to tackle a problem are things that really float my boat.  In the beginning I thought coding was hard, and to be honest I still think it is. I just got used to things not working immediately and I see each new project as an opportunity to expand my knowledge.  Coding pushes me out of my comfortzone in a good way!</p>
      </li>
      <li><h4>2. It's relaxing</h4>
      <p>The moment I turn on my computer and know I can work on some projects, my mind just eases. I get totally lost in coding, with time passing me by.  I never had this feeling, except when I was playing a really good game, reading a good book, or watching an amazing show.  Psychologists like to call this 'to get into a flow', which is a state of mind a lot of gamecompanies try to achieve when releasing their games.  I'm happy to have found something that is not only relaxing to me and fun to do, but also gives me a career.</p>
      </li>
      <li><h4>3. I love creating</h4>
      <p>For a long time I was convinced I wasn't the creative type. I couldn't draw, paint or play an instrument. I never took notice to it but when the years passed by, I remarked I actually loved creating things. It started with learning the ukulele, went to video-editing, and ended in coding.  You can put your own stamp while you're working on projects.  This is very noticeable in our training group right now. We all get the same assignment, but the way others execute it, are all different from each other, making coding very personal.</p>
   </li>
   <li><h4>4. It's fun</h4>
   <p>The sense of accomplishment when solving a really complicated problem can't be beat. I love it when I figured out a problem and it's working.  </p>
   </li>
   </ul>
<blockquote>"Oh! Wow! Good! I did not think that was going to work." -Wheatley<br>(Chapter 9: the part where he kills you) </blockquote>

</div>

