<h2>WANT TO GET IN TOUCH?</h2>
<p>On March 18th, 2021 our training program provides a 'jobday', where you can not only meet me, but other promising candidates as well.  I'd like you to refer to our jobdaypage which you can find <a href="https://www.multimedi-education.be/Wondelgem">here</a>.</p> <p>Please subscribe if your company is interested in joining.<br> </p>
<p>Hope to see you there!</p>
<br>
<p><a href = "https://www.linkedin.com/in/natalie-h-44b46545/"><img src= "/assets/linkedin.png"></a></p>

<!-- <p>You will be me able to contact me after the jobday has ended. For now the form in 'Contact me' is not yet available.</p>
<p><a routerLink= "form-group">Contact me</a></p> -->
