<nav>
   <div class = "banner">
   <a routerLink="">Home</a>
   <a routerLink="about">About</a>
   <a routerLink="resume">Resume</a>
   <a routerLink="portfolio">Portfolio</a>
   <a routerLink="contact">Contact</a> 
   </div>
</nav>
