.banner{
   color:white;
   background: #f1dec8;
   /* background-image: linear-gradient(to left,  rgb(90,9,57), black, rgb(90,9,57)); */
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   padding:5px;
   border-radius: 9px;
   justify-content: center;
   


}
nav a {
   display: inline-block;
   align-items: center;
   padding: 10px;
   margin-left: 5px;
   margin-right:35px;
   background: #b9c9c7;
   color: whitesmoke;
   border: 1px solid #b9c9c7;
   border-radius: 9px;
   
   text-decoration: none;
   
}   




