
      <div class = "pictures">
         <div class= "pictureFlowerBol"><img src="/assets/7c0e3a068f66ee349bdaedcbeec71efb.jpg"></div>        
      </div>

   <div class= "introduction">{{typewriter_display}}</div>
      <div class = "pictures">
         <div class= "pictureBlackAndWhite"><img src= "/assets/75380079_489650774979132_7795798192691347456_n.jpg"></div>
      
</div>

