.introduction{
   display: flex;
   flex-direction: column;
   font-family: "PTSerif", sans-serif;
   text-shadow: 2px 2px 4px rgb(143, 138, 138);
   color: white;
   font-weight: bold;
   font-size: 36pt;
   text-align: center;
   justify-content: center;
}

.pictureBlackAndWhite img{
   width: 200px;  
   border-radius: 60px;   
}

.pictureBlackAndWhite{
   margin-left: 65%;
   animation: fadein 6s;
}

.pictureFlowerBol{
   margin-top:1%;
   margin-left: 30%;
   animation: fadein 6s;
}
.pictureFlowerBol img{
   width: 200px;  
   border-radius: 50%;   
}

@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}


.welcomeTextContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 1000px;
   margin-left:400px;
   margin-top: 100px;
}

