<h1>Portfolio</h1>
<div class="portfolio1">
   <div class="projects">
      <h2>SCHOOLPROJECTS</h2>
      <div class="projectContainer">
         <div class= "project" *ngFor= "let project of schoolProject_List; let index = index"><img [src] = project.image><h3>{{project.title}}</h3><p>{{project.description}}</p>
            <div class = "buttonContainer">
            
            <button type = "button" (click) ="popup2[index-1] = true">
               More Information
            </button>
               <div class="overlay" *ngIf = "popup2[index-1]">
                  <div class= "popup2">
                  <h2>More Information</h2>
                  <a class = "close" (click) = "popup2[index-1] = false">&times;</a>
                   <div class = "content">
                  <h4>The project:</h4>{{project.titelcontent}}
                  <h4>Challenges: </h4>{{project.content}}
                  <h4>Link: </h4><a [href]= "project.code">Link</a></div>
                </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="projects">
      <h2>PERSONAL PROJECTS</h2>
      <div class ="projectContainer">
         <div class= "project" *ngFor= "let persProject of personalProject_List; let index = index"><img [src] = persProject.image><h3>{{persProject.title}}</h3><p>{{persProject.description}}</p>
            <div class = "buttonContainer">

         <button type = "button" (click) ="popup4[index-1] = true">
            More Information
         </button>
            <div class="overlay" *ngIf = "popup4[index-1]">
               <div class= "popup4">
               <h2>More Information</h2>
               <a class = "close" (click) = "popup4[index-1] = false">&times;</a>
                <div class = "content">
               <h4>The project: </h4>{{persProject.titelcontent}}
               <h4>Challenges: </h4>{{persProject.content}}
               <h4>Link: </h4><a [href]= "persProject.code">Link</a></div>
             </div>
             </div>
         </div>
   </div>
</div>
