h2{
   text-align: center;
   border-bottom: 2px solid black;
}
.projects{
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   border: 12px double black;
   padding: 50px;
   margin: 5%;
}

.portfolio1{
   display: grid;
   margin: auto;
   justify-content: center;
}

.projectContainer{
   display: flex;
   flex-direction: row;
}

.project{
   display: flex;
   flex-direction: column;
   margin: 1%;
   justify-content: center;
   align-items: center;
   text-align: center;
}

img{
   width: 100px;
}
.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
  visibility: visible;
   opacity: 1;
 }
 
 

.popup2{
  margin: 2% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close:hover {
  color:red;
  cursor: pointer;
}
.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

.popup2{
    width: 70%;
  }
}


.popup4{
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup4 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup4 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup4 .close:hover {
  color:red;
  cursor: pointer;
}
.popup4 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

.popup4{
    width: 70%;
  }
}

button{
  background: white;
  border: 3px double black;
  padding:2px;
  margin: auto;

}
.buttonContainer{
  display: flex;
  flex-direction: row; 
  width: 1%;
  justify-content: center;
 
}