<h1>{{typewriter_display}}</h1>

<div class= "resumeContainer">
   <div class= "textbox" id= "educations" (click) = "toggleShowEdu()">
      <h2>EDUCATION</h2>
      <div *ngIf ="!isShownEdu"><img src= "assets/logo_UGent_EN_RGB_2400_color_crop.png" > </div>
      <div *ngIf= "isShownEdu" class = "textbox2">
         <div class = "timeline">
            <ul>
         <li><div class = "content">
            <div class = "title">Java Enterprise Ontwikkelaar, via
            VDAB</div>
            <div class = "time">2020-2021</div> 
         </div>
            </li>
         <li><div class = "content">
            <div class = "title">Master Klinische Psychologie, via UGent</div>
            <div class = "time">2014-2017</div> 
         </div>
            </li>
         <li><div class = "content">
            <div class = "title">Bachelor Klinische Psychologie, via UGent</div>
            <div class = "time">2012-2014</div> 
         </div>
            </li>
         <li><div class = "content">
            <div class = "title">Middelbaar Humane Wetenschappen, via Sint-Gummaruscollege</div>
            <div class = "time">2000-2006</div> 
         </div>
            </li>
      </ul>
      </div>
   </div> 
      
   </div>

   <div class = "textbox" id="skill" (click) = "toggleShowSkill()">
      <h2>SKILLS</h2>
      <div *ngIf ="!isShownSkill"><img src= "assets/Skills-250x250.png"></div>  
      <div *ngIf= "isShownSkill" class = "textbox2">
         <div class= "container2">
            <div id="pc">
      <h3>Computer-related</h3>
      <div id= "PcSkills" *ngFor= "let pcSkill of pcSkill_List"><img [src] = pcSkill.image> <div class = "name">{{pcSkill.namePcSkill}}</div></div>
            </div>
   <div id ="language">
      <h3> Languages</h3>
      <div id= "skills" *ngFor= "let skill of skill_List"><div class ="nameLanguages">{{skill.nameSkill}} {{skill.descriptionSkill}}</div>
   </div>
      
   </div>
   </div>
   </div>
   </div> 
</div>

<div class= "resumeContainer">
   <div class = "textbox" id ="experience" (click) = "toggleShowExp()">
      <h2>EXPERIENCE</h2>
      <div *ngIf ="!isShownExp"><img src= "assets/pixil-frame-0.png">  </div>
      <div *ngIf= "isShownExp" class = "textbox2">
         <div class= "container3">
            <div class = "bovensteDeel">
               <div class ="ervaringTekst">
                  <p>McDonalds -Ghent</p>
                  <h4>Cashier</h4>
                  
               </div> 
               <div class ="ervaringTekst" id="stage">
                  <p>Villa Voortman -Ghent</p>
                  <h4>Internship Clinical Psychology</h4>
                     
               </div>  
               <div class ="ervaringTekst" id= "wh">   
                  <p>New Zealand</p>
                  <h4>Working Holiday</h4>
                     
               </div>     
               
            </div>   
               <div class = "ervaringTijdlijn">
                  <img src= "/assets/tijdlijnervaring.png">
               </div>
            <div class = "ondersteDeel">
               <div class ="ervaringTekst" id = "outpost">
                  <h4>Cashier</h4>
                  <p>Outpost -Ghent</p>
               </div> 
               <div class ="ervaringTekst" id="partena">
                  <h4>Consultant mealcheques</h4>
                     <p>Partena -Ghent</p>
               </div>  
               <div class ="ervaringTekst" id= "xerius">   
                  <h4>Administrative Assistant</h4>
                     <p>Xerius (2019-2020)</p>
                     <p>various recruitment agencies </p>
               </div>     
            </div>
         </div>
      </div>   
      
   </div>
</div>

<!-- <p>You can download my resume down <a href="#">here</a></p> -->


