h1, h2, p{
   text-align: center;
   font-family: 'PTSans', sans-serif;
}


.textbox{
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   border: 12px double black;
   padding: 50px;
   margin: 5%;
   align-items: center;
   
}
.textbox2{
   display: table;
   margin: auto;
   width:fit-content;

}


ul#horizontal{
 min-width: 700px;
 list-style: none;
 padding-top: 20px;
}

ul#horizontal li{
   display: inline;
}

#PcSkills img{
   width:50px;
   height: 50px;
   padding: 2px;
}
#PcSkills{
   display: flex;
   flex-direction: row;
   
}

.name{
   padding: 12px;
}

.nameLanguages{
   padding-top: 6px;
   padding-bottom: 6px;
}


.resumeContainer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
      }

#educations{
      grid-column: 1 /span 2 ;
      
   }

#skill{
   grid-column: 3 /span 2 ;
   
}

#experience{
   grid-column: 1 /span 4 ;
}


.container2{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   
   }

#pc{
   grid-column: 1 / span 2;
  
   
   }
#language
{
   grid-column: 3 / span 1;
  
   }



img{
   width:300px;
  
}



.timeline:before{
   content: '';
   position: absolute;
   left: 25.2%;
   width: 2px;
   height: 40%;
   background: #b9c9c7;
 }
 .timeline ul{
   margin: 0;
   padding: 0;
   height: 100%;
   
 }
 
 .timeline ul li {
   list-style: none;
   position: relative;
   width: 50%;
   padding: 20px 40px;
   padding-top: 30px;
   box-sizing: border-box;
 }
 
 .timeline ul li:nth-child(odd) .title{
    border: 3px solid rgb(185,201,199, 0.3);
    border-radius: 18px;
    text-align: center;
    top: 35px;
    right: -130px;
    margin: 0;
    
 }
 .timeline ul li:nth-child(even) .title{
   border: 3px solid rgb(185,201,199, 0.3);
   border-radius: 18px;
   text-align: center;
   top: 35px;
   left: -130px;
   margin: 0;
}

 .timeline ul li:nth-child(odd){
   float: left;
   text-align: right;
   clear: both;
 }
 .timeline ul li:nth-child(even){
   float: right;
   text-align: left;
   clear: both;
 }
 

 .timeline ul li:nth-child(odd):before{
   content:'';
   position: absolute;
   top: 50px;
   right: -6px;
   width: 10px;
   height: 10px;
   background: rgb(185, 201, 199);
   border-radius: 50%;
   box-shadow: 0 0 0 3px rgb(185,201,199, 0.3);
 }
 
 .timeline ul li:nth-child(even):before{
   content:'';
   position: absolute;
   top: 50px;
   left: -4px;
   width: 10px;
   height: 10px;
   background: rgb(185, 201, 199);
   border-radius: 50%;
   box-shadow: 0 0 0 3px rgb(185,201,199, 0.3);
 }
 
 .timeline ul li p{
   margin: 10px 0 0;
   padding: 0;
   
 }
 
 .timeline ul li:nth-child(odd) .time{
   position: absolute;
   top: 35px;
   right: -130px;
   margin: 0;
   padding: 8px 16px;
   background: rgb(185, 201, 199);
   color:rgb(243, 242, 245);
   border-radius: 18px; 
   box-shadow: 0 0 0 3px rgb(185,201,199, 0.3);
 }
 
 .timeline ul li .time h4{
   margin:0;
   padding:0;
   font-size: 14px;
 }
 
 .timeline ul li:nth-child(even) .time{
   position: absolute;
   top: 35px;
   left: -130px;
   margin: 0;
   padding: 8px 16px;
   background: rgb(185, 201, 199);
   color:rgb(243, 242, 245);
   border-radius: 18px; 
   box-shadow: 0 0 0 3px rgb(185,201,199, 0.3);
 }

.ervaringTijdlijn img{
   width:1200px;
} 

.bovensteDeel{
   display: flex;
   flex-direction: row;
}

.container3{
   border-top: 2px solid black;
}
.container3 h4, p{
   text-align: center;
}
.container3 p{
   font-size:9pt;
}

.container3 h4{
   border: 2px solid rgb(185, 201, 199);
   border-radius: 50%;
   background-color: rgb(185, 201, 199);
   padding: 2px;
   font-size: 11pt;
}

.ervaringTekst{
   margin-left: 4%;
  
}

#stage{
   margin-left: 17%;
}
#wh{
   margin-left: 19%;
}
.ondersteDeel{
   display: flex;
   flex-direction: row;
}
#partena{
   margin-left: 21%;
}
#xerius{
   margin-left: 22%;
}
#outpost{
   margin-left: 17%;
}



