@font-face{
   font-family: "PTSans";
   src: url("./assets/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face{
   font-family: "PTSerif";
   src: url("./assets/PT_Serif/PTSerif-Italic.ttf") format("truetype");
}

body{
   /* background-image: linear-gradient(to right, black, black, rgb(90,9,57)); */
   background: rgb(241, 222, 200);
   
}
h1{
   text-shadow: 2px 2px 4px rgb(143, 138, 138);
   color:white;
   text-align: center;
   font-size: 36pt;
   font-family: "PTSerif", sans-serif;
   font-style: italic;
}

*{
   /* text-shadow: 2px 2px 4px rgb(143, 138, 138); */
   color:black;
   font-family: "PTSans", sans-serif;
  
}



