<div class= "container">
<form [formGroup] = form>
   <label>Name: </label><br>
   <input type = "text" name = "Name" formControlName= "name"><br>
   <label>Email: </label><br>
   <input type = "text" name = "Email" formControlName= "email"><br>
   <label>Your Message: </label><br>
   <input type = "text" name = "Your Message" formControlName= "message"><br>
   <input type="submit">
</form>
</div>
